*{
  box-sizing: border-box;
 padding: 0;
 margin: 0;
}


body{
  background: url();
 font-weight: 500;
 font-family: Arial;
 background-color:#333D51;
 color:white;
 font-size: clamp(1.5rem, 2.5vh, 3rem);
} 



.todo-header{
 text-align: center;
 font-weight: 700;
 text-transform: uppercase;
 color:#29fd53;
 padding-bottom: 20px;
 padding-top: 30px; 
}

.todo-subheader{
 text-align:center;
 color:#29fd53;
 font-weight: 400;
 margin-block:15px;
}

.todo-grid,
.todo-grid-input{
 display:grid;
 grid-template-columns:180px 130px 70px;
 column-gap: 20px;
 row-gap: 20px;
 justify-content: center;
 align-items: center;
}


.todo-grid-input{
 margin-bottom:20px;
 align-items:stretch;
 margin-top:10px;
}

.todo-input,.duedate-input{
 padding:8px;
 border:none;
 border-radius: 50px;
 box-shadow: 0px 4px 0px 0 rgb(239,232,221), 
 0px 6px 2px 0 rgb(239,232,221) ;
 margin-top:10px  
}

.todo-input,.duedate-input:focus{
outline:none;
}

.todo-input{
 align-items: stretch;
}

.delete-btn{
 border-radius: 50px;
 padding:6px;
 background-color:red;
 color:white;
 cursor: pointer;
 box-shadow: 0px 6px 0px 0 rgb(239,232,221) , 0px 4px 0px 0 red ;
}

.add-btn{
 background-color: #29fd53;
 border-radius:50px;
 border:none;
 cursor:pointer;
 color:white;
 padding-inline: 23px;
 padding-block: 7px;
 box-shadow: 0px 8px 0px 0 rgb(239,232,221) , 0px 4px 0px 0 #29fd53;
} 

  input.enlarge-checkbox{
width:30px;
height:30px;
position:relative;
left:1rem;
top:8px
} 

#toggle-todo-title{
  position: relative;
  top:40px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color:aqua
  
}

